body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cardbody {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productimage {
    max-height: 200px;
    object-fit: contain;
}

.product-image img {
    max-height: 400px;
    width: 100%;
    object-fit: contain;
}

.pagecontainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: whitesmoke;
}